body {
    padding: 15px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

a {
    padding-right: 30px;
    text-decoration: none;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
.container, #map {
height: 100%;
}
      
/* Optional: Makes the sample page fill the window. */
html,
body {
height: 90%;
margin: 0;
padding: 30px
}