h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: lightblue;
}

#floating-panel {
    position: absolute;
    top: 60px;
    left: 14%;
    z-index: 5;
    background-color: #fff;
    padding: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 65px;
    font-size: 14px;
  }

#map {
height: 666px;
padding: 0px;
margin: 0px;
}
      
html, body {
height: 90%;
margin: 0;
}